@page "/CreateUserPage"

<div class="full-page">
    <div class="login-container">
        <h3 style="font-weight: bold">Create</h3>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password"/>
        </div>
        <div>
            <button style="font-weight: bold">Create User</button>
        </div>
    </div>
</div>

@code {
    // Your Create logic here
}


@code {
    string Username { get; set; }
    string Password { get; set; }

    private void Login()
    {
    // Your login logic here
    }
}