@page "/LoginPage"
@inject Blazored.LocalStorage.ILocalStorageService localStorageService
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager


<div class="full-page">
    <div class="login-container">
        <h3 style="font-weight: bold">Login</h3>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" @bind="Username"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" @bind="Password"/>
        </div>
        <div>
            <button style="font-weight: bold" @onclick="Login">Login</button>
        </div>
        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <p style="color: red;">@ErrorMessage</p>
        }
    </div>
</div>

@code {
    string Username { get; set; }
    string Password { get; set; }
    string ErrorMessage { get; set; }

    private async Task Login()
    {
        var client = HttpClientFactory.CreateClient("NoSSL");

        var loginRequest = new
        {
            Username = this.Username,
            Password = this.Password
        };

        var response = await client.PostAsJsonAsync("User/login", loginRequest);

        if (response.IsSuccessStatusCode)
        {
             // Store the token for subsequent requests
            var tokenResponse = await response.Content.ReadFromJsonAsync<TokenResponse>();
            if (tokenResponse != null)
            {
                await localStorageService.SetItemAsync("jwtToken", tokenResponse.Token);
            }

            ErrorMessage = "";
            NavigationManager.NavigateTo("/");
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
        {
            ErrorMessage = "Invalid username or password.";
        }
        else
        {
            ErrorMessage = "An unexpected error occurred.";
        }
    }

    private record TokenResponse(string Token);
}
