@page "/"
@inject IHttpClientFactory HttpClientFactory
<h3>All Posts</h3>

@if (posts == null)
{
    <p>Loading posts...</p>
}
else if (posts.Length == 0)
{
    <p>No posts found.</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Context</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var post in posts)
        {
            <tr>
                <td>@post.ID</td>
                <td>@post.title</td>
                <td>@post.context</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private Post[] posts;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var client = HttpClientFactory.CreateClient("NoSSL");
            posts = await client.GetFromJsonAsync<Post[]>("Post");


        }
        catch (Exception e)
        {
            Console.WriteLine("Error while fetching posts: " + e.Message);
            if (e.InnerException != null)
            {
                Console.WriteLine("Inner exception: " + e.InnerException);
            }
        }
    }

    public class Post
    {
        public int ID { get; set; }
        public string title { get; set; }
        public string context { get; set; }
    }
}