@page "/"
@inject HttpClient Http
<h3>All Posts</h3>

@if (posts == null)
{
    <p>Loading posts...</p>
}
else if (posts.Length == 0)
{
    <p>No posts found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Context</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in posts)
            {
                <tr>
                    <td>@post.ID</td>
                    <td>@post.title</td>
                    <td>@post.context</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Post[] posts;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            posts = await Http.GetFromJsonAsync<Post[]>("https://localhost:5237");
        }
        catch (Exception e)
        {
            // Handle exception accordingly.
            Console.WriteLine("Error while fetching posts: " + e.Message);
        }
    }

    public class Post
    {
        public int ID { get; set; }
        public string title { get; set; }
        public string context { get; set; }
    }
}
