/* _content/BlazorApp1/Pages/CreatePostPage.razor.rz.scp.css */
/* Assuming you have a styles.css or site.css in your wwwroot/css directory. */
.full-page[b-va5ttcg79n] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.login-container[b-va5ttcg79n] {
    border: 2px solid darkslateblue;
    width: 500px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: Arial, sans-serif;
}

.login-container label[b-va5ttcg79n] {
    display: block;
    margin-bottom: 8px;
}

.login-container input[type="text"][b-va5ttcg79n], .login-container textarea[b-va5ttcg79n] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button[b-va5ttcg79n] {
    background-color: #007BFF;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.login-container button:hover[b-va5ttcg79n] {
    background-color: #0056b3;
}
/* _content/BlazorApp1/Pages/CreateUserPage.razor.rz.scp.css */

.full-page[b-k9i3ygf1vr] 
{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.login-container[b-k9i3ygf1vr] {
    border: 2px solid darkslateblue;
    width: 500px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: Arial, sans-serif;
}


h3[b-k9i3ygf1vr] {
    text-align: center;
}

.input-group[b-k9i3ygf1vr] {
    margin-bottom: 15px;
}

label[b-k9i3ygf1vr] {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[b-k9i3ygf1vr] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[b-k9i3ygf1vr] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px; /*spacing */
    background-color: #0071c1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


button:hover[b-k9i3ygf1vr] {
    background-color: #005a9b;
}
/* _content/BlazorApp1/Pages/Index.razor.rz.scp.css */

.welcome-box[b-70cdui5b69] {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 2px 2px 12px #aaa;
    border-radius: 8px;
    width: 300px;
}

.welcome-box a[b-70cdui5b69] 
{
    color: blue;
    text-decoration: underline;
}
/* _content/BlazorApp1/Pages/LoginPage.razor.rz.scp.css */

.full-page[b-480z8q4hvn] 
{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.login-container[b-480z8q4hvn] {
    border: 2px solid darkslateblue;
    width: 500px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: Arial, sans-serif;
}



h3[b-480z8q4hvn] {
    text-align: center;
}

.input-group[b-480z8q4hvn] {
    margin-bottom: 15px;
}

label[b-480z8q4hvn] {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[b-480z8q4hvn] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[b-480z8q4hvn] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px; /*spacing */
    background-color: #0071c1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


button:hover[b-480z8q4hvn] {
    background-color: #005a9b;
}
/* _content/BlazorApp1/Pages/OnClickSeeSpecificPost.razor.rz.scp.css */
.center-content[b-1yoqemvvve] {
    width: 70%; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header[b-1yoqemvvve] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%; 
    margin: 0 auto; 
}

.post-content[b-1yoqemvvve] {
    width: 50%;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 2px solid darkslateblue;
    margin-bottom: 15px;
    position: relative;
}


.gif-in-container[b-1yoqemvvve] {
    width: 100%;
    height: auto; 
    display: block;
    max-width: 100%; 
}

.comment-container[b-1yoqemvvve] {
    width: 60%;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    border: 1px solid lightgray;
}


.add-comment-section[b-1yoqemvvve] {
    width: 50%; 
    margin: 20px auto; 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
}

.add-comment-section textarea[b-1yoqemvvve] {
    width: 100%;
    height: 100px; 
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    resize: vertical; 
}

.add-comment-section button[b-1yoqemvvve] {
    align-self: flex-end;
    padding: 5px 15px;
    background-color: darkslateblue; 
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.add-comment-section button:hover[b-1yoqemvvve] {
    background-color: #435c7d; 
}
/* _content/BlazorApp1/Pages/PostMainPage.razor.rz.scp.css */
.posts-container[b-318081eyz9] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.post-container[b-318081eyz9] {
    width: 50%; 
    margin: 20px auto; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 5px;
    border: 2px solid darkslateblue;
    position: relative; 
    display: flex;  
    flex-direction: column; 
    justify-content: space-between; 
}

.search-container[b-318081eyz9] {
    display: flex;
    align-items: center;
    gap: 10px; /* Provides a gap between the input and the button */
}


.search-input:focus[b-318081eyz9] {
    border-color: #435c7d; /* Changes border color on focus */
    box-shadow: 0 0 10px rgba(67, 92, 125, 0.3); /* Adds a subtle glow when focused */
}

.search-btn[b-318081eyz9] {
    padding: 8px 15px;
    background-color: darkslateblue;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px; /* Consistent font size with the input field */
    transition: 0.3s;
}

.search-btn:hover[b-318081eyz9] {
    background-color: #435c7d; /* slightly lighter shade on hover */
}


.header[b-318081eyz9] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%; 
    margin: 0 auto; 
}

.search-input[b-318081eyz9] {
    width: 74%; /* adjust as needed */
    padding: 8px 12px;
    border-radius: 3px;
    border: 2px solid darkslateblue;
    font-size: 14px; /* Making sure the text is readable */
    transition: 0.3s;
    outline: none; /* Removes the browser default outline */
}

.see-comments-btn[b-318081eyz9] {
    margin-top: 10px;
    padding: 5px 15px;
    background-color: darkslateblue; 
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
    align-self: flex-end; 
}

.see-comments-btn:hover[b-318081eyz9] {
    background-color: #435c7d;
}

.gif-in-container[b-318081eyz9] {
    width: 100%;
    height: auto; 
    display: block;
    max-width: 100%; 
}
/* _content/BlazorApp1/Shared/MainLayout.razor.rz.scp.css */
.page[b-45rkf8v3vv] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-45rkf8v3vv] {
    flex: 1;
}

.sidebar[b-45rkf8v3vv] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-45rkf8v3vv] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-45rkf8v3vv]  a, .top-row .btn-link[b-45rkf8v3vv] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-45rkf8v3vv] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-45rkf8v3vv] {
        display: none;
    }

    .top-row.auth[b-45rkf8v3vv] {
        justify-content: space-between;
    }

    .top-row a[b-45rkf8v3vv], .top-row .btn-link[b-45rkf8v3vv] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-45rkf8v3vv] {
        flex-direction: row;
    }

    .sidebar[b-45rkf8v3vv] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-45rkf8v3vv] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-45rkf8v3vv], article[b-45rkf8v3vv] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/BlazorApp1/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-b5wscdn8ts] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-b5wscdn8ts] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-b5wscdn8ts] {
    font-size: 1.1rem;
}

.oi[b-b5wscdn8ts] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-b5wscdn8ts] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-b5wscdn8ts] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-b5wscdn8ts] {
        padding-bottom: 1rem;
    }

    .nav-item[b-b5wscdn8ts]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-b5wscdn8ts]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-b5wscdn8ts]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-b5wscdn8ts] {
        display: none;
    }

    .collapse[b-b5wscdn8ts] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-b5wscdn8ts] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
