/* Assuming you have a styles.css or site.css in your wwwroot/css directory. */
.full-page[b-va5ttcg79n] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.login-container[b-va5ttcg79n] {
    border: 2px solid darkslateblue;
    width: 500px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: Arial, sans-serif;
}

.login-container label[b-va5ttcg79n] {
    display: block;
    margin-bottom: 8px;
}

.login-container input[type="text"][b-va5ttcg79n], .login-container textarea[b-va5ttcg79n] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button[b-va5ttcg79n] {
    background-color: #007BFF;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.login-container button:hover[b-va5ttcg79n] {
    background-color: #0056b3;
}
