
.welcome-box[b-70cdui5b69] {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 2px 2px 12px #aaa;
    border-radius: 8px;
    width: 300px;
}

.welcome-box a[b-70cdui5b69] 
{
    color: blue;
    text-decoration: underline;
}