.posts-container[b-318081eyz9] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.post-container[b-318081eyz9] {
    width: 50%; 
    margin: 20px auto; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 5px;
    border: 2px solid darkslateblue;
    position: relative; 
    display: flex;  
    flex-direction: column; 
    justify-content: space-between; 
}

.search-container[b-318081eyz9] {
    display: flex;
    align-items: center;
    gap: 10px; /* Provides a gap between the input and the button */
}


.search-input:focus[b-318081eyz9] {
    border-color: #435c7d; /* Changes border color on focus */
    box-shadow: 0 0 10px rgba(67, 92, 125, 0.3); /* Adds a subtle glow when focused */
}

.search-btn[b-318081eyz9] {
    padding: 8px 15px;
    background-color: darkslateblue;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px; /* Consistent font size with the input field */
    transition: 0.3s;
}

.search-btn:hover[b-318081eyz9] {
    background-color: #435c7d; /* slightly lighter shade on hover */
}


.header[b-318081eyz9] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%; 
    margin: 0 auto; 
}

.search-input[b-318081eyz9] {
    width: 74%; /* adjust as needed */
    padding: 8px 12px;
    border-radius: 3px;
    border: 2px solid darkslateblue;
    font-size: 14px; /* Making sure the text is readable */
    transition: 0.3s;
    outline: none; /* Removes the browser default outline */
}

.see-comments-btn[b-318081eyz9] {
    margin-top: 10px;
    padding: 5px 15px;
    background-color: darkslateblue; 
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
    align-self: flex-end; 
}

.see-comments-btn:hover[b-318081eyz9] {
    background-color: #435c7d;
}

.gif-in-container[b-318081eyz9] {
    width: 100%;
    height: auto; 
    display: block;
    max-width: 100%; 
}
